body {
                min-height: 600px;
            }
#wrapper {      
                width: 100%;
                height: 60%;
                overflow: hidden;
                top: 50%;
                left: 50%;
            }
            #carousel div {
                padding-top: 1.4%;
                cursor: pointer;
                margin-right: -500px;
                float: left;
                background-position: center center;
                position: relative;
            }
            #carousel div:last-child {
                cursor: inherit;
            }
